#messages-wrapper {
	background-color: lightblue;
	padding: 10px;
}

.message {
	background-color: white;
	border: 2px solid white;
	border-radius: 5px;
	padding: 3px;
	margin: 5px;
}

#send-message {
	margin: 5px;
}

#message-text {
	padding: 3px;
}
